<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.androidroot.razorclaw"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="13" />

    <application
        android:icon="@drawable/razorclaw"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".RazorclawActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
